.navbar {
  background-color: #f0f0f0;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 15px;
}

.navbar ul li a {
  color: rgb(15, 17, 23);
  text-decoration: none;
  font-size: 20px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}